@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.mainbody {
  height: 100vh;
  width: 100%;
}

.mainbody .header {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  padding: 0 2rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.44);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.44);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #f1f1f1;
}

.mainbody .header h1 {
  font-size: 2rem;
  color: rgba(54, 54, 54, 0.933);
}

.mainbody .header h1 span {
  font-size: 1.2rem;
  color: royalblue;
}

.mainbody .restcontainer {
  height: 90.3%;
  width: 100%;
  overflow-y: auto;
  background-color: #fafafa;
}

.mainbody .restcontainer::-webkit-scrollbar {
  display: none;
}

.mainbody .restcontainer .row {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainbody .restcontainer .row .custom {
  background-color: #fff;
  min-height: 15rem;
  max-height: 25rem;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
  width: 20%;
  padding: 0.5rem;
}

.mainbody .restcontainer .row .custom .heading {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #f1f1f1;
}

.mainbody .restcontainer .row .custom .heading h4 {
  margin-left: 10px;
}

.mainbody .restcontainer .row .custom .remain {
  max-height: 20rem;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.mainbody .restcontainer .row .custom .remain::-webkit-scrollbar {
  display: none;
}

.mainbody .restcontainer .row .custom .remain button {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5rem;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 0.3rem 0;
  cursor: pointer;
}

.mainbody .restcontainer .row .custom #regenerate .heading {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #f1f1f1;
}

.mainbody .restcontainer .row .custom #regenerate .heading h4 {
  margin-left: 10px;
}

.mainbody .restcontainer .row .custom #regenerate .remain {
  max-height: 20rem;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1rem;
}

.mainbody .restcontainer .row .custom #regenerate .remain::-webkit-scrollbar {
  display: none;
}

.mainbody .restcontainer .row .custom #regenerate .remain button {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5rem;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 0.3rem 0;
  cursor: pointer;
}

.mainbody .restcontainer .row .custom #regenerate .remain .Regenerate {
  background-color: #0e87f8;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainbody .restcontainer .row .custom #regenerate .remain .cst {
  background-color: #00c853;
  color: #fff;
}

.mainbody .restcontainer .row .txtbox {
  background-color: #fff;
  height: 75%;
  max-height: 25rem;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
  width: 70%;
  padding: 1rem;
  overflow-y: auto;
}

.mainbody .restcontainer .row .txtbox::-webkit-scrollbar {
  display: none;
}

.mainbody .restcontainer .row .txtbox .heading {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #f1f1f1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainbody .restcontainer .row .txtbox .heading span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainbody .restcontainer .row .txtbox .heading span h4 {
  margin-left: 10px;
}

.mainbody .restcontainer .row .txtbox .heading .copy {
  background-color: #0e87f8;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainbody .restcontainer .row .txtbox .cntr {
  padding-top: 1rem;
  overflow-y: auto;
  max-height: 20rem;
}

.mainbody .restcontainer .row .txtbox .cntr::-webkit-scrollbar {
  display: none;
}

#custom {
  display: none;
}

@media only screen and (max-width: 789px) {
  .mainbody .restcontainer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainbody .restcontainer .row .custom {
    min-height: 10rem;
    width: 70%;
  }
}

@media only screen and (max-width: 366px) {
  .mainbody .restcontainer .row .custom, .mainbody .restcontainer .row .txtbox {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */